@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Open+Sans:wght@400;600&display=swap');
body {
   font-family: 'Open Sans', sans-serif;
}

.status-bar {
    /* 같은 줄에 놓기 */
    display: flex;
    /* flex축을 따라 분리시키기 */
    /* justify-content: space-between;*/
    /* 가운데 정렬이 안됨 */
    
    /* 가운데 모음 */
    justify-content: center;
} 

.status-bar__column{
    /* 모든 column에 33%의 width 주기 */
    width: 33%;
}

/* 시간을 가운데에 두기 : cloumn nth-child(2) */
.status-bar__column:nth-child(2){
    display: flex;
    justify-content:center;
}

/*  배터리를 flex열의 끝에 두기 */
.status-bar__column:last-child{
    display: flex;
    justify-content:flex-end;
    /* 아이템들 가운데 정렬 */
    align-items: center;
}

/* 배터리 아이콘에 공간두기 */
.status-bar__column .fa-battery-full{
    margin: 0px 5px; /* margin: 위아래,좌우*/
}


.status-bar__column:first-child span {
    /* no service 와 wifi아이콘 사이에 공간만들기 */
    margin-right: 5px;
}