@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Open+Sans:wght@400;600&display=swap');
@import "reset.css";
@import "status-bar.css";
body {
   font-family: 'Open Sans', sans-serif;
}

.welcome-header{
    margin: 90px 0px;

    /* 텍스트 가운데 정렬 */
    text-align: center;

    display: flex;

    /* 위아래로 정렬 */
    flex-direction: column;

    /*  가운데 정렬 */
    align-items: center;

}

.welcome-header__title{
    margin-bottom: 40px;
    font-size: 25px;
}

.welcome-header__text{
    /*   너비고정 */
    width: 60%;
    /* 투명도/회색 */
    opacity: 0.7;
}