#friends-display-link{
    text-align: center;
    /* <a>는 display: aline -> 다른 요소와 나란히 나타남, 그 크기만큼만 자리차지*/
    /* display:block : 해당 요소를 블록 수준 요소로 표시
                       블록수준요소는 행에 하나씩 차지,
                       너비 전체를 차지하는 성질이 있음
                       따라서 다른 요소들과 수직으로 쌓이게 됨. */
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: -10px;
}

#friends-display-link i{
    color: rgba(0, 0, 0, 0.3)
}

.friends-screen{
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel{
    margin-top:25px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__channel-header{
    margin-bottom: 30px;
    display : flex;
    justify-content: space-between;
    color:var(--main-font-color);
}